Q.1.
Ans :
1. Easy to ue than other languages
2. It has various libraries which makes work easy on that platform
3. It has rich ecosystem
4. Open sorce
5. Integration
6. Supports machine Learning
7. Scalability
8. Automation
9. Cross platforms

Q.2.
Ans:

In [ ]:
#keywords are predefined commands for user which can easily execute in python & they are use for giving commands.

print("Hello PWSKILLS")

Hello PWSKILLS

Q.3
Ans:
Mutable objects are those , which can be changed by and immutable are those which can't be changed

In [ ]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [ ]:
a[2]=9
a             #3 is replaced by 9

[1, 2, 9, 4, 5]

In [ ]:
b=(1,2,3,4,5)
b

(1, 2, 3, 4, 5)

In [ ]:
b[2]=9
b     #any component of b which is a tuple cant be changed since tuple is immutable in nature

TypeError: 'tuple' object does not support item assignment

Q.4.
Ans:
There are va types of operators in Python and are as follows:
1. Arithmatic
2. logical
3. Relationship
4. Bitwise
5. Assignment
6. Membership
7. Identity

In [ ]:
#Arithmatic operator:
a=2
b=3
a+b

5

In [ ]:
a-b

-1

In [ ]:
#Logical oerator:
True and False

False

In [ ]:
True and True

True

Q.5.
Ans:
Casting is changing the data type of value of variable.
integers and float can be converted to string but string which is letter or word can't be converted to integer or float.
Two types of casting:
1. implicit
2. explicit

In [ ]:
a=5
type(a)

int

In [ ]:
str(a)

'5'

In [ ]:
type(a)

int

In [ ]:
# Q.6.
#Ans:

a=100
if a > 50 :
  print("number is right")

number is right

Q.7.
Ans:
Different types of loops in Python:
1. or : iterate over sequence of element
2. while : repeatedly executed untill condition is met

In [ ]:
n = 7
i = -3
while i<n:
  print(i)
  i=i+1

-3
-2
-1
0
1
2
3
4
5
6

In [ ]:
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5